[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
markdown = "*"
pydantic = "*"
elasticsearch = "*"
mypy = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.10"
